@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background:rgba(0,0,0,0.2);
}
nav {
  top: 0;
  left: 0;
  position: relative;
  display: block;
  float: left;
  font-size: 1.5em ;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.submenu {
  position: absolute;
  width: 300%;
  top: 100%;
  left: 0;
  z-index: 10;
  transition: 0.3s ease;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 150px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}
.navigation .submenu {
  -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  background: rgba(0,200,100,0.2);
}
.navigation ul li:hover .submenu {
  -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.navigation ul a {
  color: white;
}
.submenu li a {
  border: 1px solid rgba(255,255,255,0.3);
}
form {
  position: relative;
  width: 30%;
  margin: 0 auto;
  float: right;
}
.search input {
  width: 100%;
  color: white;
  height: 42px;
  padding-left: 10px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  outline: none;
  background: rgba(0,0,0,0.1);
}
.search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: rgba(0,0,0,0.2);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.intro {
  position: relative;
  color: #343144;
  background-image:-moz-linear-gradient( 150deg, rgb(50,200,30) 0%, rgb(180,100,234) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(50,200,30) 0%, rgb(180,100,234) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(50,200,30) 0%, rgb(180,100,234) 100%);
  height: 30vw;
  padding: 9em 6em 5em;
}
.artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork {
  display: flex;
}
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  width: 50%;
}
.artwork .artwork-description {
  background: #26223e;
  width: 50%;
  padding: 11.25em 10em 11.5em;
}
footer {
  margin-top: -3em;
  padding: 8.75em 0 2em;
  height: 10vw;
  background-image:-moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}